* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
h1 {
	position: absolute;
	top: 620px;
	right: 500px;
	color: green;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}
h3 {
	position: absolute;
	top: 180px;
	display: none;
	color: rgb(0, 0, 0);
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: Arial, Helvetica, sans-serif;
}

/* .nutendo {
	margin: 0px 0px;
	width: 100vw;
	height: auto;
	background-color: rgb(32, 32, 32);
	padding: 200px 0;
	margin: 0 25px;
} */

.nuten {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 300vw;
	height: 120vh;
	background-color: rgb(255, 255, 255);
	align-items: center;
	transform: rotate(90deg);
	margin: 0 -360px;
}
@media screen and (min-width: 320px) {
	.nuten {
		margin: 0 -290px;
	}
}
@media screen and (min-width: 375px) {
	.nuten {
		margin: 0 -350px;
	}
}
@media screen and (min-width: 411px) {
	.nuten {
		margin: 0 -390px;
	}
}
@media screen and (min-width: 992px) {
	.nuten {
		width: 100vw;
		height: 100vh;
		transform: rotate(0deg);
		margin: 0;
	}
}
.pati-2 {
	transform: rotate(180deg) translateY(-50px);
}

.btn-tet {
	position: relative;
	top: 52px;
	margin: 0px auto;
	width: 85px;
	right: 6px;
	height: 60px;
	background-color: rgb(0, 0, 0);
	border-radius: 9000% 2px 0px 10px;
	border: 2px solid rgb(73, 73, 73);
}
.btn-tet-2 {
	position: relative;
	top: 338px;
	margin: 0px auto;
	width: 85px;
	right: 6px;
	height: 60px;
	background-color: rgb(0, 0, 0);
	border-radius: 900% 2px 0px 10px;
	border: 2px solid rgb(73, 73, 73);
	transform: rotate(-180deg) scalex(-1);
}
.base-1 {
	top: -5px;
	margin: 0 auto;
	width: 110px;

	height: 340px;
	background-color: #00c5e4;
	border-radius: 87px 0 0 87px;
	position: relative;
	border: 10px solid #03b3ce;
	border-right: 2px solid #07bdda;
}

.base-2 {
	margin: 0 auto;
	top: -5px;
	width: 110px;
	height: 340px;
	background-color: #ff5f52;
	border-radius: 87px 0 0 87px;
	position: relative;
	border: 10px solid #c44337;
	border-right: 2px solid #c44337;
}

.care {
	position: absolute;
	width: 20px;
	height: 10px;
	background-color: rgb(56, 56, 56);
	top: 32px;
	left: 70px;
	border-radius: 1px 1px;
	border: 2px solid rgb(48, 47, 47);
	box-shadow: -1px 1px 5px 1px#2b2b2b;
}
.care-2 {
	position: relative;
	width: 30px;
	height: 30px;
	background-color: rgb(59, 59, 59);
	top: 60px;
	left: 52px;
	border-radius: 50%;
	border: 4px solid rgb(117, 117, 117);
	box-shadow: 3px -3px 5px 1px#2b2b2b;
}
.chapo {
	position: absolute;
	width: 16px;
	height: 8px;
	background-color: black;
	clip-path: polygon(100% 0, 0 0, 50% 100%);
	left: 3px;
	top: 10px;
}

.bouda {
	position: absolute;
	width: 11px;
	height: 6px;
	background-color: black;
	left: 5.5px;
	top: 5px;
}

.pot {
	position: absolute;
	width: 2px;
	height: 4px;
	background-color: rgb(255, 255, 255);
	left: 10px;
	top: 7px;
	opacity: 0.5;
}

.boul {
	position: relative;
	width: 52px;
	height: 52px;
	background-color: rgb(15, 15, 15);
	background: radial-gradient(closest-side, #646464, #2b2a2a, #2b2a2a);
	top: 60px;
	left: 32px;
	border-radius: 50%;
	border-bottom: 2px solid rgb(0, 0, 0);
	border-top: 2px solid rgb(104, 104, 104);
	box-shadow: -3px 3px 5px 3px#2b2b2b;
}
.boul-2 {
	position: relative;
	width: 52px;
	height: 52px;
	background-color: rgb(15, 15, 15);
	background: radial-gradient(closest-side, #646464, #2b2a2a, #1b1b1b);
	top: 89px;
	left: 25px;
	border-radius: 50%;
	border-top: 2px solid rgb(0, 0, 0);
	border-bottom: 2px solid rgb(105, 105, 105);
	box-shadow: 3px -3px 5px 3px#2b2b2b;
}

.ba-1 {
	position: absolute;
	width: 52px;
	height: 4px;
	background-color: rgb(20, 20, 20);
	top: 20px;
	right: 0px;
	border-radius: 100px;
	/* border-bottom: 2px solid rgb(77, 76, 76); */
}
.ba-1-2 {
	position: absolute;
	width: 52px;
	height: 4px;
	background-color: rgb(20, 20, 20);
	top: 20px;
	right: 0px;
	border-radius: 100px;
	/* border-top: 2px solid rgb(77, 76, 76); */
}
.ba-2 {
	position: absolute;
	width: 4px;
	height: 52px;
	background-color: rgb(20, 20, 20);
	left: 24px;
	top: -2px;
	border-radius: 100px;
	/* border-left: 1px solid rgb(82, 82, 82); */
}
.ba-2-2 {
	position: absolute;
	width: 4px;
	height: 52px;
	background-color: rgb(20, 20, 20);
	left: 24px;
	top: -2px;
	border-radius: 100px;
	/* border-right: 1px solid rgb(82, 82, 82); */
}

.ron {
	position: relative;
	width: 40px;
	height: 40px;
	background-color: rgb(96, 97, 96);
	background: radial-gradient(closest-side, #414141, #333232, #131313);
	border-bottom: 2px solid rgb(94, 94, 94);
	margin: 0 auto;
	top: 4px;
	border-radius: 50%;
}
.ron-2 {
	position: relative;
	width: 40px;
	height: 40px;
	background-color: rgb(96, 97, 96);
	background: radial-gradient(closest-side, #303030, #333232, #131313);
	border-top: 2px solid rgb(94, 94, 94);

	margin: 0 auto;
	top: 4px;
	border-radius: 50%;
}

.ti-bouton {
	position: relative;
	width: 80px;
	height: 80px;

	top: 90px;
	left: 11px;
}

.ti-bouton-2 {
	position: relative;
	width: 80px;
	height: 80px;
	transform: rotate(-180deg);
	top: 120px;
	left: 11px;
}
.ti-bouton-2 h2 {
	position: absolute;
	color: white;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	left: 7px;
	top: 2px;

	opacity: 0.5;
}

.btn-1 {
	position: absolute;
	width: 24px;
	height: 24px;
	background-color: rgb(58, 58, 58);
	background: radial-gradient(closest-side, #414141, #333232, #131313);
	border-bottom: 2px solid black;
	border-top: 2px solid rgb(126, 126, 126);
	transform: translatex(110%);
	border-radius: 50%;
	box-shadow: -1px 2px 4px 2px#2b2b2b;
}
.tri-1 {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: rgb(0, 0, 0);
	transform: translatex(60%) translateY(40%);

	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.btn-2 {
	position: absolute;
	width: 24px;
	height: 24px;
	background-color: rgb(58, 58, 58);
	background: radial-gradient(closest-side, #414141, #333232, #131313);
	transform: translatey(100%);
	border-radius: 50%;
	box-shadow: -1px 2px 4px 2px#2b2b2b;
	border-bottom: 2px solid black;
	border-top: 2px solid rgb(126, 126, 126);
}
.tri-4 {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: rgb(0, 0, 0);
	transform: translatex(70%) translateY(60%);

	clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.tri-2 {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: rgb(0, 0, 0);
	transform: translatex(50%) translateY(50%);
	clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.tri-3 {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: rgb(0, 0, 0);
	transform: translatex(80%) translateY(50%);
	clip-path: polygon(0 0, 0 100%, 100% 50%);
}

.btn-3 {
	position: absolute;
	width: 24px;
	height: 24px;
	background-color: rgb(58, 58, 58);
	background: radial-gradient(closest-side, #414141, #333232, #131313);
	transform: translatex(225%) translatey(100%);
	border-radius: 50%;
	box-shadow: -1px 2px 4px 2px#2b2b2b;
	border-bottom: 2px solid black;
	border-top: 2px solid rgb(126, 126, 126);
}

.btn-4 {
	position: absolute;
	width: 24px;
	height: 24px;
	background-color: rgb(58, 58, 58);
	background: radial-gradient(closest-side, #414141, #333232, #131313);
	transform: translatex(110%) translatey(230%);
	border-radius: 50%;
	border-bottom: 2px solid black;
	border-top: 2px solid rgb(126, 126, 126);
	box-shadow: -1px 2px 4px 2px#2b2b2b;
}

.ti-care {
	position: relative;
	width: 24px;
	height: 24px;
	background-color: rgb(58, 58, 58);
	top: 110px;
	left: 65px;
	border-radius: 2px;
	border: 2px solid rgb(49, 49, 49);
	box-shadow: -1px 1px 5px 1px#2b2b2b;
}

.ti-ron {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: rgb(32, 32, 32);
	margin: 1px 1px;
	border-radius: 50%;
	border: 2px solid black;
}
.ti-care-2 {
	position: relative;
	width: 24px;
	height: 24px;

	top: 125px;
	left: 70px;
}
.ti-ba-1 {
	position: absolute;
	width: 20px;
	height: 4px;
	background-color: rgb(43, 43, 43);
	top: 9px;
	box-shadow: 2px -2px 2px 2px#161616;
	border-radius: 2px;
	border: 2.7px solid rgb(121, 121, 121);
}

.ti-ba-2 {
	position: absolute;
	width: 4px;
	height: 20px;
	background-color: rgb(54, 54, 54);
	box-shadow: 2px -2px 2px 2px#161616;
	left: 8px;
	border-radius: 2px;
	border-bottom: 2px solid rgb(121, 121, 121);
}
.ti-ba-3 {
	position: absolute;
	width: 20px;
	height: 4px;
	background-color: rgb(43, 43, 43);
	top: 9px;

	border-radius: 2px;
}

.mitan {
	width: 580px;
	width: 588px;

	height: 340px;
	background-color: rgb(53, 53, 53);
	position: relative;
	top: 25px;
	border-top: 10px solid rgb(94, 94, 94);
	border-left: 5px solid rgb(41, 41, 41);
	border-right: 5px solid rgb(41, 41, 41);
	border-bottom: 10px solid #1f1f1f;
}

.bo {
	width: 14px;
	height: 20px;
	background-color: yellow;
	background-color: rgb(255, 255, 255);
	position: absolute;
	clip-path: polygon(0 0, 100% 0, 93% 57%, 0% 100%);
	border: 10px solid rgb(255, 255, 255);
	border-right: 2px solid rgb(255, 255, 255);
	top: -11px;
	left: -5.3px;

	z-index: 200;
}

.bo-2 {
	width: 14px;
	height: 20px;
	background-color: yellow;
	background-color: rgb(255, 255, 255);
	position: absolute;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 4% 54%);
	top: -11px;

	left: 568px;
	/* left: 535px; */
	z-index: 200;
}
@media screen and (min-width: 992px) {
	.bo {
		left: -4.7px;
	}
	.bo-2 {
		/* left: 560px; */
	}
}

.vit {
	width: 544px;
	height: 315px;
	background-color: rgb(7, 7, 7);
	position: relative;
	top: 3px;
	left: 17px;
	border-radius: 15px;
}

.vit-2 {
	width: 85%;
	height: 82%;
	background-color: rgb(18, 80, 139);
	position: absolute;
	top: 28px;
	left: 40px;
	border-radius: 1px;
}

.piano {
	width: 100px;
	height: 258px;
	/* background-color: rgb(177, 48, 48); */
	position: relative;
}
.te1 {
	width: 42px;
	height: 15px;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(177, 177, 177);
	border-radius: 0 2px 2px 0;
}
.te2 {
	width: 42px;
	height: 15px;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(177, 177, 177);
	border-radius: 0 2px 2px 0;
}
.te3 {
	width: 42px;
	height: 15px;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(177, 177, 177);
	border-radius: 0 2px 2px 0;
}
.te4 {
	width: 42px;
	height: 15px;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(177, 177, 177);
	border-radius: 0 2px 2px 0;
	animation: touch-1 5s infinite;
}
.te5 {
	width: 42px;
	height: 15px;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(177, 177, 177);
	border-radius: 0 2px 2px 0;
}
.te6 {
	width: 42px;
	height: 15px;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(177, 177, 177);
	border-radius: 0 2px 2px 0;
}
.te7 {
	width: 42px;
	height: 15px;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(177, 177, 177);
	border-radius: 0 2px 2px 0;
}
.te8 {
	width: 42px;
	height: 15px;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(177, 177, 177);
	border-radius: 0 2px 2px 0;
}
.te9 {
	width: 42px;
	height: 15px;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(177, 177, 177);
	border-radius: 0 2px 2px 0;
	animation: touch-2 5s infinite;
}
.te10 {
	width: 42px;
	height: 15px;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(177, 177, 177);
	border-radius: 0 2px 2px 0;
}
.te11 {
	width: 42px;
	height: 15px;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(177, 177, 177);
	border-radius: 0 2px 2px 0;
}
.te12 {
	width: 42px;
	height: 15px;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(177, 177, 177);
	border-radius: 0 2px 2px 0;
}
.te13 {
	width: 42px;
	height: 15px;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(177, 177, 177);
	border-radius: 0 2px 2px 0;
	animation: touch-3 5s infinite;
}
.te14 {
	width: 42px;
	height: 15px;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(177, 177, 177);
	border-radius: 0 2px 2px 0;
}
.te15 {
	width: 42px;
	height: 16px;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(177, 177, 177);
	border-radius: 0 2px 2px 0;
}
.te16 {
	width: 42px;
	height: 16px;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(177, 177, 177);
	border-radius: 0 2px 2px 0;
	animation: touch-4 5s infinite;
}
.te17 {
	width: 42px;
	height: 16px;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(177, 177, 177);
	border-radius: 0 2px 2px 0;
}

.touch-nwa {
	width: 100px;
	height: 258px;

	position: absolute;
	top: 0;
}

.nwa-1 {
	width: 26px;
	height: 8px;
	background-color: rgb(36, 36, 36);
	border: 1px solid rgb(5, 5, 5);
	border-radius: 0 1px 1px 0;
	margin-top: 11px;
}
.nwa-2 {
	width: 26px;
	height: 8px;
	background-color: rgb(36, 36, 36);
	border: 1px solid rgb(5, 5, 5);
	border-radius: 0 1px 1px 0;
	margin-top: 7px;
}
.nwa-3 {
	width: 26px;
	height: 8px;
	background-color: rgb(36, 36, 36);
	border: 1px solid rgb(5, 5, 5);
	border-radius: 0 1px 1px 0;
	margin-top: 22px;
}
.nwa-4 {
	width: 26px;
	height: 8px;
	background-color: rgb(36, 36, 36);
	border: 1px solid rgb(5, 5, 5);
	border-radius: 0 1px 1px 0;
	margin-top: 7px;
}
.nwa-5 {
	width: 26px;
	height: 8px;
	background-color: rgb(36, 36, 36);
	border: 1px solid rgb(5, 5, 5);
	border-radius: 0 1px 1px 0;
	margin-top: 7px;
}
.nwa-6 {
	width: 26px;
	height: 8px;
	background-color: rgb(36, 36, 36);
	border: 1px solid rgb(5, 5, 5);
	border-radius: 0 1px 1px 0;
	margin-top: 21px;
}
.nwa-7 {
	width: 26px;
	height: 8px;
	background-color: rgb(36, 36, 36);
	border: 1px solid rgb(5, 5, 5);
	border-radius: 0 1px 1px 0;
	margin-top: 7px;
}
.nwa-8 {
	width: 26px;
	height: 8px;
	background-color: rgb(36, 36, 36);
	border: 1px solid rgb(5, 5, 5);
	border-radius: 0 1px 1px 0;
	margin-top: 23px;
}
.nwa-9 {
	width: 26px;
	height: 8px;
	background-color: rgb(36, 36, 36);
	border: 1px solid rgb(5, 5, 5);
	border-radius: 0 1px 1px 0;
	margin-top: 6px;
}
.nwa-10 {
	width: 26px;
	height: 8px;
	background-color: rgb(36, 36, 36);
	border: 1px solid rgb(5, 5, 5);
	border-radius: 0 1px 1px 0;
	margin-top: 8px;
	animation: touch-5 5s infinite;
}
.nwa-11 {
	width: 26px;
	height: 8px;
	background-color: rgb(36, 36, 36);
	border: 1px solid rgb(5, 5, 5);
	border-radius: 0 1px 1px 0;
	margin-top: 23px;
}
.nwa-12 {
	width: 26px;
	height: 8px;
	background-color: rgb(36, 36, 36);
	border: 1px solid rgb(5, 5, 5);
	border-radius: 0 1px 1px 0;
	margin-top: 8px;
}

.fundo {
	width: 421px;
	height: 258px;
	background-color: chartreuse;
	position: absolute;
	top: 0;
	left: 41px;
	opacity: 0.5;
}

.tras-1 {
	width: 421px;
	height: 9px;
	background-color: #4577db;
}
.tras-2 {
	width: 421px;
	height: 9px;
	background-color: #709df7;
	border-top: 1px solid rgb(98, 181, 250);
	border-bottom: 1px solid rgb(92, 179, 250);
}
.tras-3 {
	width: 421px;
	height: 9px;
	background-color: #4577db;
}
.tras-4 {
	width: 421px;
	height: 9px;
	background-color: #709df7;
	border-top: 1px solid rgb(98, 181, 250);
	border-bottom: 1px solid rgb(92, 179, 250);
}
.tras-5 {
	width: 421px;
	height: 9px;
	background-color: #4577db;
}
.tras-6 {
	width: 421px;
	height: 9px;
	background-color: #4577db;
	border-top: 1px solid rgb(98, 181, 250);
	border-bottom: 1px solid rgb(92, 179, 250);
}
.tras-7 {
	width: 421px;
	height: 9px;
	background-color: #709df7;
}
.tras-8 {
	width: 421px;
	height: 9px;
	background-color: #4577db;
	border-top: 1px solid rgb(98, 181, 250);
	border-bottom: 1px solid rgb(92, 179, 250);
}
.tras-9 {
	width: 421px;
	height: 9px;
	background-color: #709df7;
}
.tras-10 {
	width: 421px;
	height: 9px;
	background-color: #4577db;
	border-top: 1px solid rgb(98, 181, 250);
	border-bottom: 1px solid rgb(92, 179, 250);
}
.tras-11 {
	width: 421px;
	height: 9px;
	background-color: #709df7;
}
.tras-12 {
	width: 421px;
	height: 9px;
	background-color: #4577db;
	border-top: 1px solid rgb(98, 181, 250);
	border-bottom: 1px solid rgb(92, 179, 250);
}
.tras-13 {
	width: 421px;
	height: 9px;
	background-color: #4577db;
}
.tras-14 {
	width: 421px;
	height: 9px;
	background-color: #709df7;
	border-top: 1px solid rgb(98, 181, 250);
	border-bottom: 1px solid rgb(92, 179, 250);
}
.tras-15 {
	width: 421px;
	height: 9px;
	background-color: #4577db;
}
.tras-16 {
	width: 421px;
	height: 9px;
	background-color: #709df7;
	border-top: 1px solid rgb(98, 181, 250);
	border-bottom: 1px solid rgb(92, 179, 250);
}
.tras-17 {
	width: 421px;
	height: 9px;
	background-color: #4577db;
}
.tras-18 {
	width: 421px;
	height: 9px;
	background-color: #4577db;
	border-top: 1px solid rgb(98, 181, 250);
	border-bottom: 1px solid rgb(92, 179, 250);
}
.tras-19 {
	width: 421px;
	height: 9px;
	background-color: #709df7;
}
.tras-20 {
	width: 421px;
	height: 9px;
	background-color: #4577db;
	border-top: 1px solid rgb(98, 181, 250);
	border-bottom: 1px solid rgb(92, 179, 250);
}
.tras-21 {
	width: 421px;
	height: 9px;
	background-color: #709df7;
}
.tras-22 {
	width: 421px;
	height: 9px;
	background-color: #4577db;
	border-top: 1px solid rgb(98, 181, 250);
	border-bottom: 1px solid rgb(92, 179, 250);
}
.tras-23 {
	width: 421px;
	height: 9px;
	background-color: #709df7;
}
.tras-24 {
	width: 421px;
	height: 8px;
	background-color: #4577db;
	border-top: 1px solid rgb(98, 181, 250);
	border-bottom: 1px solid rgb(92, 179, 250);
}
.tras-25 {
	width: 421px;
	height: 9px;
	background-color: #4577db;
}
.tras-26 {
	width: 421px;
	height: 9px;
	background-color: #709df7;
	border-top: 1px solid rgb(98, 181, 250);
	border-bottom: 1px solid rgb(92, 179, 250);
}
.tras-27 {
	width: 421px;
	height: 9px;
	background-color: #4577db;
}
.tras-28 {
	width: 421px;
	height: 8px;
	background-color: #709df7;
	border-top: 1px solid rgb(98, 181, 250);
	border-bottom: 1px solid rgb(92, 179, 250);
}
.tras-29 {
	width: 421px;
	height: 8px;
	background-color: #4577db;
}

.barras {
	width: 421px;
	height: 258px;
	/* background-color: chartreuse; */
	position: absolute;
	top: 0;
	left: 41px;
	opacity: 0.2;
	display: flex;
}
.barra-1 {
	position: absolute;
	width: 1px;
	height: 258px;
	background-color: rgb(142, 203, 253);
	margin: 0 25px;
}
.barra-2 {
	position: absolute;
	width: 1px;
	height: 258px;
	background-color: rgb(142, 203, 253);
	margin: 0 50px;
}
.barra-3 {
	position: absolute;
	width: 1px;
	height: 258px;
	background-color: rgb(142, 203, 253);
	margin: 0 75px;
}
.barra-4 {
	position: absolute;
	width: 2px;
	height: 258px;
	background-color: rgb(142, 203, 253);
	margin: 0 100px;
}
.barra-5 {
	position: absolute;
	width: 1px;
	height: 258px;
	background-color: rgb(142, 203, 253);
	margin: 0 125px;
}
.barra-6 {
	position: absolute;
	width: 1px;
	height: 258px;
	background-color: rgb(142, 203, 253);
	margin: 0 150px;
}
.barra-7 {
	position: absolute;
	width: 1px;
	height: 258px;
	background-color: rgb(142, 203, 253);
	margin: 0 175px;
}
.barra-8 {
	position: absolute;
	width: 2px;
	height: 258px;
	background-color: rgb(142, 203, 253);
	margin: 0 200px;
}
.barra-9 {
	position: absolute;
	width: 1px;
	height: 258px;
	background-color: rgb(142, 203, 253);
	margin: 0 225px;
}
.barra-10 {
	position: absolute;
	width: 1px;
	height: 258px;
	background-color: rgb(142, 203, 253);
	margin: 0 250px;
}
.barra-11 {
	position: absolute;
	width: 1px;
	height: 258px;
	background-color: rgb(142, 203, 253);
	margin: 0 275px;
}
.barra-12 {
	position: absolute;
	width: 2px;
	height: 258px;
	background-color: rgb(142, 203, 253);
	margin: 0 300px;
}
.barra-13 {
	position: absolute;
	width: 1px;
	height: 258px;
	background-color: rgb(142, 203, 253);
	margin: 0 325px;
}
.barra-14 {
	position: absolute;
	width: 1px;
	height: 258px;
	background-color: rgb(142, 203, 253);
	margin: 0 350px;
}
.barra-15 {
	position: absolute;
	width: 1px;
	height: 258px;
	background-color: rgb(142, 203, 253);
	margin: 0 375px;
}
.barra-16 {
	position: absolute;
	width: 2px;
	height: 258px;
	background-color: rgb(142, 203, 253);
	margin: 0 400px;
}

.son {
	width: 421px;
	height: 258px;
	/* background-color: chartreuse; */
	position: relative;
	top: -258px;
	left: 42px;
	overflow: hidden;
}

.son-2 {
	width: 50px;
	height: 9px;
	position: absolute;
	background-color: #02dbfd;
	border: 1px solid #0292a8;
	left: 430px;
	top: 50px;
	right: 430px;
	animation: son-2 12s infinite;
}

.son-3 {
	width: 50px;
	height: 9px;
	position: absolute;
	background-color: #02dbfd;
	border: 1px solid #0292a8;
	left: 430px;
	top: 180px;
	right: 430px;
	animation: son-3 8s infinite;
}

.son-5 {
	width: 50px;
	height: 9px;
	position: absolute;
	background-color: #02dbfd;
	border: 1px solid #0292a8;
	left: 430px;
	top: 126px;
	right: 430px;
	animation: son-5 6s infinite;
}

.son-7 {
	width: 50px;
	height: 9px;
	position: absolute;
	background-color: #02dbfd;
	border: 1px solid #0292a8;
	left: 430px;
	right: 430px;
	top: 192px;

	animation: son-8 5s infinite;
}

.son-8 {
	width: 50px;
	height: 9px;
	position: absolute;
	background-color: #02dbfd;
	border: 1px solid #0292a8;
	left: 430px;
	top: 232px;
	animation: son-8 4s infinite;
}
@keyframes son-8 {
	0% {
		left: 0;
	}

	100% {
		left: 530px;
	}
}

@keyframes son-7 {
	0% {
		left: 0;
		opacity: 0;
	}
	20% {
		right: 430px;
		opacity: 1;
	}

	100% {
		left: 430px;
	}
}

@keyframes son-5 {
	0% {
		left: 0;
		opacity: 0;
	}
	20% {
		right: 430px;
		opacity: 1;
	}

	100% {
		left: 430px;
	}
}

@keyframes son-3 {
	0% {
		left: 0;
		opacity: 0;
	}
	20% {
		right: 430px;
		opacity: 1;
	}

	100% {
		left: 430px;
	}
}

@keyframes son-2 {
	0% {
		left: 0;
		opacity: 0;
	}
	20% {
		right: 430px;
		opacity: 1;
	}

	100% {
		left: 430px;
	}
}

@keyframes touch-1 {
	0% {
		background-color: white;
	}

	5% {
		background-color: white;
	}
	20% {
		background-color: rgb(0, 119, 255);
	}

	100% {
		background-color: white;
	}
}

@keyframes touch-2 {
	0% {
		background-color: white;
	}
	5% {
		background-color: white;
	}
	35% {
		background-color: rgb(0, 119, 255);
	}

	100% {
		background-color: white;
	}
}

@keyframes touch-3 {
	0% {
		background-color: white;
	}
	5% {
		background-color: white;
	}
	15% {
		background-color: rgb(0, 119, 255);
	}

	100% {
		background-color: white;
	}
}

@keyframes touch-4 {
	0% {
		background-color: white;
	}
	5% {
		background-color: white;
	}
	10% {
		background-color: rgb(0, 119, 255);
	}

	100% {
		background-color: white;
	}
}
@keyframes touch-5 {
	0% {
		background-color: rgb(0, 0, 0);
	}
	5% {
		background-color: rgb(0, 0, 0);
	}
	10% {
		background-color: rgb(0, 119, 255);
	}

	100% {
		background-color: black;
	}
}
